.btn-list,
.btn-edit,
.btn-danger {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 40px;
  height: 36px;
  border-radius: 8px;
  border: none;
  font-size: 16px;
  cursor: pointer;
  transition: all 0.2s ease;
}

.btn-list {
  background-color: #6f8864;
  color: #fff;
}

.btn-list:hover {
  background-color: #fff;
  color: #6f8864;
  border: 1px solid #6f8864;
}

.btn-edit {
  background-color: #6f8864;
  color: #fff;
}

.btn-edit:hover {
  background-color: #fff;
  color: #6f8864;
  border: 1px solid #6f8864;
}

.btn-danger {
  background-color: var(--danger);
  color: #fff;
}

.btn-danger:hover {
  background-color: #fff;
  color: var(--danger);
  border: 1px solid var(--danger);
}